:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

td {
  border: 3px dashed hotpink;
  height: 1rem;
  width: 1rem;
  background-color: indigo;
  color: whitesmoke;
}

table {
  border-spacing: 0;
}